* {
    box-sizing: border-box;
    font-family: var(--font-family);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 64px;
    color: var(--beauty-landing-2-c1);

    @media screen and (max-width: $bp-desktop) {
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 32px;
            color: var(--beauty-landing-2-c1);
        }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

span {
    color: var(--beauty-landing-2-s2);
}

.main-container {
    width: 100%;
    margin: 0 auto;
    max-width: 1288px;
    padding: 48px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container {
    width: 100%;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

body {
    margin: 0;
}

address {
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

html,
body {
    overflow-x: auto;
}

