/* roboto-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v49-latin-regular.woff2') format('woff2');
}

/* roboto-500 - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v49-latin-500.woff2') format('woff2');
}

/* roboto-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v49-latin-700.woff2') format('woff2');
}

/* roboto-900 - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v49-latin-900.woff2') format('woff2');
}

/* poppins-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}

/* play-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/play-v21-latin-regular.woff2') format('woff2');
}

:root {
    --bakery-landing-1-background: #faf4ea;
    --bakery-landing-1-s1: #31261a;
    --bakery-landing-1-c2: #819b57;
    --bakery-landing-1-s3: #465929;
    --bakery-landing-1-s4: #a18268;
    --bakery-landing-1-c5: #cfcfbc;
    --beauty-landing-2-background: #fff;
    --beauty-landing-2-s2: #2b7fff;
    --beauty-landing-2-c1: #011c44;
    --beauty-landing-2-c3: #4a4a4a;
    --beauty-landing-2-s4: #ffd02b;
    --beauty-landing-2-s5: #747272;
    --beauty-landing-2-c6: #011f4a;
    --dog-landing-3-background: #fff;
    --dog-landing-3-s1: #ff9f0e;
    --dog-landing-3-s2: #fcb62a;
    --dog-landing-3-c3: #fffaf3;
    --dog-landing-3-c4: #181817;
    --dog-landing-3-c5: #f1f3ff;
    --dog-landing-3-c6: #839aa9;
    --dog-landing-3-s8: #f9f9ff;
    --dog-landing-3-c9: #d9a6ff;
    --dog-landing-3-c10: #ff6e9f;
}

:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Poppins", sans-serif;
    --third-family: "Play", sans-serif;
}


* {
    box-sizing: border-box;
    font-family: var(--font-family);
}

ul {
    list-style-type: none;
}

h2 {
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 64px;
    color: var(--beauty-landing-2-c1);
}

span {
    color: var(--beauty-landing-2-s2);
}

.main-container {
    width: 100%;
    margin: 0 auto;
    max-width: 1288px;
    padding: 24px;
}

.container {
    width: 100%;
}

/* Header */

.header-container {
    display: flex;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: var(--beauty-landing-2-background);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.25);
    height: 106px;
    position: fixed;
    top: 0;
    left: 0 ;
    width: 100%;
    padding-top: 32px ;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-q {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hero-titel-icon {
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 22px;
    line-height: 95%;
    text-transform: capitalize;
    color: var(--beauty-landing-2-s2);
    text-decoration: unset;
}

.link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--beauty-landing-2-c1);
    margin: 56px;
    text-decoration: unset;
    transition: color 0.3s;
}

.link:hover {
    color: var(--beauty-landing-2-s2);
}

.section-class {
    width: 100%;
    margin: 0 auto;
    max-width: 1288px;
    padding: 24px;
}

.bc-img {
    background-image: linear-gradient(94deg, #fff 9.65%, rgba(255, 255, 255, 0.85) 26.08%, rgba(255, 255, 255, 0.19) 52.74%, rgba(255, 255, 255, 0) 74.46%), url('./img/bc-sec1.jpg');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    background-attachment: scroll;
    width: 100%;
    height: 100%;
    /* background: url('./img/bc-sec1.jpg') no-repeat righttop cover fixed; */

}

/* main */
.titel-name {
    text-align: center;
}
/* beauty zone */



.hero {
    width: 529px;
}

.cosm-cl {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--beauty-landing-2-c1);
    margin-top: 120px;
}

.hero-titel {
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 140px;
    line-height: 81%;
    margin: 16px 0px;
    text-transform: capitalize;
    color: var(--beauty-landing-2-s2);
}

.butt-text {
    width: 238px;
    height: 103px;
    margin: 40px 0px;
    text-align: center;
}

.call-button {
    border-radius: 32px;
    padding: 16px 32px;
    width: 219px;
    height: 53px;
    background: var(--beauty-landing-2-s2);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    color: var(--beauty-landing-2-background);
    border-style: hidden;
    cursor: pointer;
}


.free-consultaition {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: var(--beauty-landing-2-c3);
}

/* Перевтілюйтесь в beauty zone ! */

.span-name {
    color: var(--color-brand);
    text-transform: capitalize;
}

.check {
    font-weight: 400;
    font-size: 22px;
    line-height: 173%;
    color: var(--beauty-landing-2-c1);
}

.span-bold {
    font-weight: 600;
    text-transform: capitalize;
    color: var(--beauty-landing-2-c1);
}

 /* Чому люди обирають нас  */

 .why-people-choosing {
    background-image: linear-gradient(#2b7fff 33.47%, rgba(43, 127, 255, 0) 63.46%, rgba(43, 127, 255, 0) 89.47%);
    
 }

 .choose-blocks {
    display: flex;
    flex-direction: row; 
}

 .why-choosing {
    margin: 56px;
    border-radius: 32px;
    width: 316px;
    height: 181px;
    box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
    background: var(--beauty-landing-2-background);
 }

.list-block {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    text-align: center;
    color: #000;
    margin: 24px 32px;
}

.choose-item { 
    display: flex;
    margin: 0 auto;
}

/* Наші процедури */

.procedures {
    display: flex;
    flex-direction: row;
    padding: 0px;
    align-items: center;
}

.carusl-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: transparent;
    padding: 0px;
    border: 1px solid var(--beauty-landing-2-c1);
    border-radius: 50%;
    cursor: pointer;
    fill: var(--beauty-landing-2-c1)
}

.carusl-button:hover {
    border: 1px solid var(--beauty-landing-2-background);
    background-color: #2b7fff;
}

.rigth {
    transform: rotate(180deg);

}

.carusl-button:hover {
    background-color: var(--beauty-landing-2-s2);
    border: var(--beauty-landing-2-s2);
    fill: var(--beauty-landing-2-background);
}

.proc-text {
    width: 152px;
    height: 52px;
    text-align: center;
    margin: 40px;
}

.text-proc {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 118%;
    text-align: center;
    color: var(--beauty-landing-2-background);
}

.procedures-fir {
    background-image:linear-gradient(180deg, rgba(1, 28, 68, 0) 47.4%, rgba(1, 28, 68, 0.73) 82.66%, #011c44 99.06%);
        transform: rotate(-180deg), url('./img/proc1.jpg');
    /* background-image: linear-gradient(#FFFFFF, #011C44); */
}

.procedures-sec {
    background-image:linear-gradient(180deg, rgba(1, 28, 68, 0) 47.4%, rgba(1, 28, 68, 0.73) 82.66%, #011c44 99.06%);
        transform: rotate(-180deg), url('./img/proc2.jpg');
    /* background-image: linear-gradient(#FFFFFF, #011C44); */
}

.procedures-thir {
    background-image:linear-gradient(180deg, rgba(1, 28, 68, 0) 47.4%, rgba(1, 28, 68, 0.73) 82.66%, #011c44 99.06%);
        transform: rotate(-180deg), url('./img/proc3.jpg');
    
}

.proc-class {
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    display: flex;
    margin: 16px;
    width: 344px;
    height: 456px;
    align-items: flex-end;
    justify-content: center;
    border-radius: 4px 120px;
    transition: transform 0.3s;
    
}

.proc-class:hover {
    transform: scale(1.05);
}

/* Як нас знайти */
.find {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 93px;
}

.regisration {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    color: var(--beauty-landing-2-background);
}

.sign-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 32px;
    width: 422px;
    height: 482px;
    background: var(--beauty-landing-2-c1);
    padding: 32px;
    box-shadow: -5px 0 0 0 #fff, -10px 0 0 0 var(--beauty-landing-2-c6)
}

.map {
    border-style: hidden;
    border-radius: 32px;
    width: 605px;
    height: 482px;
    padding: 16px 32px;
}

.signup-free {
    border-radius: 32px;
    padding: 16px 32px;
    width: 281px;
    height: 53px;
    background: var(--beauty-landing-2-s2);
    border-style: hidden;
    cursor: pointer;
}

.confidential {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: var(--beauty-landing-2-s5);
}

.input-info {
    border: 2px solid var(--beauty-landing-2-s5);
    border-radius: 32px;
    width: 310px;
    height: 52px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    color: var(--beauty-landing-2-background);
    text-align: center;
}




/* footer */
footer {
    position: relative;
    background: var(--beauty-landing-2-c1);
}

.footername-link {
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 87%;
    text-transform: capitalize;
    color: var(--beauty-landing-2-s2);
}

.footer-nav-address {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: var(--beauty-landing-2-background);
}

.ff {
    padding: 0px;
}

.data {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    color: var(--beauty-landing-2-s5);
}

.adress-icon {
    fill: var(--beauty-landing-2-background);
    /* stroke: #2b7fff; */
}

.nav-f {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}

.adress-footer {
    display: flex;
    flex-direction: column;
    align-items: left;
}

footer::after {
    position: absolute;
    background-image: url(./img/footerimg.png);
    content: '';
    block-size: 100%;
    width: 247px;
    height: 152px;
    background-repeat: no-repeat;
    bottom: 0;
    right: 0;
}


/* Modal */

.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: lab(0% 0 0 / 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    transition: opacity 0.3s, visibility 0.3s;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal { 
    padding: 42px 144px;
    position: relative;
    border-radius: 48px;
    width: 100%;
    max-width: 723px;
    max-height: 681px;
    height: 100%;
    overflow: auto;

    background: var(--beauty-landing-2-c1);
}

.modal-in {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 435px;
    width: 100%;
}

.modal-doublein {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 310px;
}

.modal-btn-close {
    position: absolute;
    top: 40px;
    right: 40px;
}



.m-h {
    margin: 40px 0px;
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    color: var(--beauty-landing-2-background);
}

.sign-free-t {
    margin: 32px 0px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    color: var(--beauty-landing-2-background);
}

.modal-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 24px 0px;
}

.mod-write {
    margin: 12px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    color: var(--beauty-landing-2-background);
    border-radius: 32px;
    border-color: var(--beauty-landing-2-c3);
    width: 310px;
    height: 52px;

    border: 2px solid var(--beauty-landing-2-s5);
    border-radius: 32px;
    width: 310px;
    height: 52px;
}


.m-button {
    margin: 0 auto;
    border-radius: 32px;
    padding: 16px 32px;
    width: 281px;
    height: 53px;
    background: var(--beauty-landing-2-s2);
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    color: var(--beauty-landing-2-background);
    border-color: transparent;
}

.conf {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: var(--beauty-landing-2-s5);
}

.conf-span {
    color: var(--beauty-landing-2-s5);
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.m-butplinf {
    width: 275px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.modal-btn-close {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}