/* roboto-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v49-latin-regular.woff2') format('woff2');
}

/* roboto-500 - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v49-latin-500.woff2') format('woff2');
}

/* roboto-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v49-latin-700.woff2') format('woff2');
}

/* roboto-900 - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v49-latin-900.woff2') format('woff2');
}

/* poppins-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}

/* play-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/play-v21-latin-regular.woff2') format('woff2');
}

:root {
    --bakery-landing-1-background: #faf4ea;
    --bakery-landing-1-s1: #31261a;
    --bakery-landing-1-c2: #819b57;
    --bakery-landing-1-s3: #465929;
    --bakery-landing-1-s4: #a18268;
    --bakery-landing-1-c5: #cfcfbc;
    --beauty-landing-2-background: #fff;
    --beauty-landing-2-s2: #2b7fff;
    --beauty-landing-2-c1: #011c44;
    --beauty-landing-2-c3: #4a4a4a;
    --beauty-landing-2-s4: #ffd02b;
    --beauty-landing-2-s5: #747272;
    --beauty-landing-2-c6: #011f4a;
    --dog-landing-3-background: #fff;
    --dog-landing-3-s1: #ff9f0e;
    --dog-landing-3-s2: #fcb62a;
    --dog-landing-3-c3: #fffaf3;
    --dog-landing-3-c4: #181817;
    --dog-landing-3-c5: #f1f3ff;
    --dog-landing-3-c6: #839aa9;
    --dog-landing-3-s8: #f9f9ff;
    --dog-landing-3-c9: #d9a6ff;
    --dog-landing-3-c10: #ff6e9f;
}

:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Poppins", sans-serif;
    --third-family: "Play", sans-serif;
}


* {
    box-sizing: border-box;
    font-family: var(--font-family);
}

ul {
    list-style-type: none;
}

h2 {
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 64px;
    color: var(--beauty-landing-2-c1);
}

span {
    color: var(--beauty-landing-2-s2);
}

.main-container {
    width: 100%;
    margin: 0 auto;
    max-width: 1288px;
    padding: 24px;
}

/* Header */
.header-container {
    display: flex;
    align-items: center;
}

.header {
    flex-direction: row;
}

.link {
    flex-direction: row;
}

/* main */
.titel-name {
    text-align: center;
}
/* beauty zone */

.hero {
    width: 529px;
}

.cosm-cl {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--beauty-landing-2-c1);
}

.hero-titel {
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 140px;
    line-height: 81%;
    text-transform: capitalize;
    color: var(--beauty-landing-2-s2);
}

.butt-text {
    width: 238px;
    height: 103px;
}

.call-button {
    border-radius: 32px;
    padding: 16px 32px;
    width: 219px;
    height: 53px;
    background: var(--beauty-landing-2-s2);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    color: var(--beauty-landing-2-background);
    border-style: hidden;
}

.free-consultaition {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: var(--beauty-landing-2-c3);
}

/* Перевтілюйтесь в beauty zone ! */

.span-name {
    color: var(--color-brand);
    text-transform: capitalize;
}

.check {
    font-weight: 400;
    font-size: 22px;
    line-height: 173%;
    color: var(--beauty-landing-2-c1);
}

.span-bold {
    font-weight: 600;
    text-transform: capitalize;
    color: var(--beauty-landing-2-c1);
}

 /* Чому люди обирають нас  */

 .choose-blocks {
    display: flex;
    flex-direction: row; 
}

 .why-choosing {
    margin: 56px;
    border-radius: 32px;
    width: 316px;
    height: 181px;
    box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
    background: var(--beauty-landing-2-background);
 }

.list-block {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    text-align: center;
    color: #000;
    margin: 24px 32px;
}

.choose-item {
    display: flex;
    margin: 0 auto;
}

/* Наші процедури */

.proc {
    display: flex;
    flex-direction: row;
}

.procedures {
    display: flex;
    margin: 16px;
    width: 344px;
    height: 456px;    
    
    align-items: flex-end;
    text-align: center;
}

.text-proc {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 118%;
    text-align: center;
    color: #000;
    /* color: var(--beauty-landing-2-background); */
}

/* Як нас знайти */
.find {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 93px;
}

.regisration {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    color: var(--beauty-landing-2-background);
}

.sign-info {
    border-radius: 32px;
    width: 422px;
    height: 482px;
    background: var(--beauty-landing-2-c1);
    padding: 32px;
}

.map {
    border-style: hidden;
    border-radius: 32px;
    width: 605px;
    height: 482px;
    padding: 16px 32px;
}

.signup-free {
    border-radius: 32px;
    padding: 16px 32px;
    width: 281px;
    height: 53px;
    background: var(--beauty-landing-2-s2);
    border-style: hidden;
}

.confidential {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: var(--beauty-landing-2-s5);
}

.input-info {
    border: 2px solid var(--beauty-landing-2-s5);
    border-radius: 32px;
    width: 310px;
    height: 52px;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    color: var(--beauty-landing-2-background);
    text-align: center;
}




/* footer */
footer {
    background: var(--beauty-landing-2-c1);   
}

.footername-link {
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 87%;
    text-transform: capitalize;
    color: var(--beauty-landing-2-s2);
}

.footer-nav-address {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: var(--beauty-landing-2-background);
}

.data {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    color: var(--beauty-landing-2-s5);
}