.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* main */
.titel-name {
    text-align: center;
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 64px;
    color: var(--beauty-landing-2-c1);

    @media  screen and (max-width: $bp-desktop) {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 32px;
        margin-bottom: 24px;
    }
}

.span-name {
    color: var(--beauty-landing-2-s2);
    text-transform: capitalize;
}

.span-bold {
    font-weight: 600;
    text-transform: capitalize;
    color: var(--beauty-landing-2-c1);
}