.find {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 93px;
}

.regisration {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    color: var(--beauty-landing-2-background);
}

.sign-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 32px;
    width: 422px;
    height: 482px;
    background: var(--beauty-landing-2-c1);
    padding: 50px 45px;
    box-shadow: -5px 0 0 0 #fff, -10px 0 0 0 var(--beauty-landing-2-c6)
}

.map {
    border-style: hidden;
    border-radius: 32px;
    width: 605px;
    height: 482px;
    padding: 16px 32px;
}

.signup-free {
    border-radius: 32px;
    padding: 16px 32px;
    width: 281px;
    height: 53px;
    background: var(--beauty-landing-2-s2);
    border-style: hidden;
    cursor: pointer;
}

.confidential {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: var(--beauty-landing-2-s5);
}

.input-info {
    border: 2px solid var(--beauty-landing-2-s5);
    border-radius: 32px;
    width: 310px;
    height: 52px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    color: var(--beauty-landing-2-background);
    text-align: center;
}