.header {
    display: flex;
    flex-direction: row;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.25);
    height: 106px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    .header-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

.nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.nav-q {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: stretch;
    gap: 56px;
    width: 525px;
    height: 21px;
}

.hero-titel-icon {
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 22px;
    line-height: 95%;
    text-transform: capitalize;
    color: var(--beauty-landing-2-s2);
    text-decoration: unset;
    margin: auto;
}

.icon-use {
    display: flex;
    flex-direction: row;
    width: 160px;
    height: 32px;
    justify-content: space-between;
}

.link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--beauty-landing-2-c1);
    text-decoration: unset;
    transition: color 0.3s;
}

.link:hover {
    color: var(--beauty-landing-2-s2);
}

.section-class {
    width: 100%;
    margin: 0 auto;
    max-width: 1288px;
    padding: 24px;
}

