.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

    &__button {
        width: 12px;
        height: 12px;
        padding: 0;
        background-color: var(--beauty-landing-2-s5);
        border-radius: 50%;
        border-color: transparent;
    }

    &__button:hover {
        background-color: var(--beauty-landing-2-s2);
    }

    &__button--active {
        background-color: var(--beauty-landing-2-s2);
    }
}