.procedures {
    display: flex;
    flex-direction: row;
    padding: 0px;
    align-items: center;
}

.carusl-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: transparent;
    padding: 0px;
    border: 1px solid var(--beauty-landing-2-c1);
    border-radius: 50%;
    cursor: pointer;
    fill: var(--beauty-landing-2-c1)
}

.carusl-button:hover {
    border: 1px solid var(--beauty-landing-2-background);
    background-color: #2b7fff;
    color: var(--beauty-landing-2-background);
}

.rigth {
    transform: rotate(180deg);

}

.carusl-button:hover {
    background-color: var(--beauty-landing-2-s2);
    border: var(--beauty-landing-2-s2);
    fill: var(--beauty-landing-2-background);
}

.proc-text {
    width: 152px;
    height: 52px;
    text-align: center;
    margin: 40px;
}

.text-proc {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 118%;
    text-align: center;
    color: var(--beauty-landing-2-background);
}

article {
    position: relative;
}

.proc-img-fon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    margin: 16px;
    width: 344px;
    height: 456px;
    border-radius: 4px 120px;
    transition: transform 0.3s;
    z-index: -1;
}

.proc-img-fon:hover {
    transform: scale(1.05);
}

.proc-class {
    background-color: linear-gradient(180deg, rgba(1, 28, 68, 0) 47.4%, rgba(1, 28, 68, 0.73) 82.66%, #011c44 99.06%);
    
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    display: flex;
    margin: 16px;
    width: 344px;
    height: 456px;
    align-items: flex-end;
    justify-content: center;
    border-radius: 4px 120px;
    transition: transform 0.3s;

}

.proc-class:hover {
    transform: scale(1.05);
}