
.reincarnate {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 173%;
    color: var(--beauty-landing-2-c1);
    

    @media screen and (max-width: $bp-desktop) {
            font-weight: 400;
            font-size: 18px;
        }

    &__box {
        position: relative;
        display: flex;
        align-items: flex-start;
    }

    &__img {
        
        width: 499px;
    
        @media screen and (max-width: $bp-desktop) {
            display: none;
        }
    }

    &__circles {
        border-radius: 50%;
    }

}


.circle--small {
    margin-left: 176px;
}

@keyframes rotateStar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.star-blue {
    position: absolute;
    top: 0;
    right: 0;
    fill: var(--beauty-landing-2-s2);
    animation: rotateStar 10s linear infinite;

    @media screen and (max-width: $bp-desktop) {
        display: none;
    }
}

.star {
    position: absolute;
    right: 40px;
    animation: rotateStar 10s linear infinite;

    @media screen and (max-width: $bp-desktop) {
        display: none;
    }
}